html,body {
  background: #EFF3F4;
}
.hero.banner {
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url('../images/hack.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero.group{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../images/group_home_1200.jpg') no-repeat center center fixed;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.hero.hackathon{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../images/meeting_home_1200.jpg') no-repeat center center fixed;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}


.hero-body .container {
  max-width: 800px;
}
.hero-body .title {
  /* color: hsl(192,17%,99%) !important; */
}
.hero-body .subtitle {
  /* color: hsl(192,17%,99%) !important; */
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 5rem 0.5rem;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sponser{
  transition: 0.3s;
  cursor: pointer;
  /* margin:0px 1px; */
}
.sponser:hover{
  box-shadow: 0px 0px 3px 3px rgba(158, 158, 158, 0.322);  
  transform: scale(1.005);
}
.footer{
  padding:1rem 0.5rem;
}

.foot{
  background-color: rgb(56, 56, 56);
  margin-top: 3rem;
  padding:1rem 0.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Hind:300,400');


.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #4d4d4d;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
  -moz-user-select: none;
  user-select: none;
  font-weight: bold;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: "+";
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1.7rem;
  font-weight: lighter;
  color: #7288a2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: "-";
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.35 ease 0.15s;
  -o-transition: all 0.35 ease 0.15s;
  transition: all 0.35 ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.25s;
}

.underline{
  border-bottom: 4px solid #363636;
  padding-bottom: 0.5rem;
}