html,body {
  background: #EFF3F4;
}
.hero.banner {
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url('../images/hack.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero.group{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../images/group_home_1200.jpg') no-repeat center center fixed;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.hero.hackathon{
  background: linear-gradient(
    rgba(0, 0, 0, 0.61),
    rgba(0, 0, 0, 0.61)
  ), url('../images/headers/group_header.jpg') no-repeat center center fixed;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-color:"red";
}

.hero.hackathon-2018{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../images/group_home_1200.jpg') no-repeat center center fixed;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.title, .subtitle{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
  color: #141414;
}

p{
  font-family: 'Roboto', sans-serif;
  color: black;
}
.hero-body .container {
  max-width: 800px;
}
.hero-body .title {
  /* color: hsl(192,17%,99%) !important; */
}
.hero-body .subtitle {
  /* color: hsl(192,17%,99%) !important; */
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 5rem 0.5rem;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sponser{
  transition: 0.3s;
  cursor: pointer;
  /* margin:0px 1px; */
}
.sponser:hover{
  box-shadow: 0px 0px 3px 3px rgba(158, 158, 158, 0.322);  
  transform: scale(1.005);
}
.footer{
  padding:1rem 0.5rem;
}

.foot{
  background-color: rgb(56, 56, 56);
  margin-top: 3rem;
  padding:1rem 0.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Hind:300,400');


.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #4d4d4d;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
  -moz-user-select: none;
  user-select: none;
  font-weight: bold;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: "+";
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1.7rem;
  font-weight: lighter;
  color: #7288a2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: "-";
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .content {
  opacity: 0;
  display: none;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.35 ease 0.15s;
  -o-transition: all 0.35 ease 0.15s;
  transition: all 0.35 ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  display: block;
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.25s;
}

.underline{
  border-bottom: 4px solid #363636;
  padding-bottom: 0.5rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active, .dot:hover {
  /* background-color: #717171; */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  outline: 0;
  }

.navbar-item{
  padding:1rem 0.5rem;
}

.navbar-link{
  /* padding:1rem 2rem; */
  padding-left: 0.5rem;
}

.navbar-dropdown{
  background-color: rgb(68, 68, 68);
}

@media only screen and (max-width: 720px) {
  .features{
    padding: 0rem 2rem;
    /* background-color: red; */
  }
}

.modal-card-body{
  padding: 1rem 2rem;
}